body {
  background-color: #effeff;
  color: #29888d;
  margin: 0 auto;
}

header, footer {
  background-color: #d0e7ea;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

a {
  color: #a0eaee;
  font-size: 25px;
  padding: 10px;
  background: rgb(0, 76, 149);
  background: linear-gradient(90deg, rgb(0, 76, 149) 0%, rgb(28, 85, 193) 37%, rgb(0, 230, 187) 100%);
  border-radius: 15px;
  text-decoration: none;
  display: block;
}
a:hover {
  color: #cbfcff;
  background: rgb(13, 109, 201);
  background: linear-gradient(90deg, rgb(13, 109, 201) 0%, rgb(54, 122, 250) 37%, rgb(25, 255, 212) 100%);
}

.article {
  font-size: 25px;
}

.block-1 .wide-img {
  position: relative;
}
.block-1 .main-title {
  color: rgb(244, 243, 255);
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: calc(3vw + 2vh);
  transform: translate(-50%, -50%);
}

.block-2 {
  background: rgb(140, 158, 255);
  background: linear-gradient(90deg, rgb(140, 158, 255) 0%, rgb(255, 244, 160) 54%, rgb(160, 229, 255) 100%);
}
.block-2 .main-title {
  color: rgb(97, 75, 172);
}

.block-text {
  padding: 10px;
}

.main-text {
  color: rgb(23, 77, 128);
  font-size: 25px;
}

.wide-img {
  height: auto;
  width: 100%;
}

.block-4 .img-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.block-4 .img-text .img-near {
  width: 500px;
}
@media (max-width: 768px) {
  .block-4 .img-text {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
}

footer {
  font-size: 20px;
  color: #2ea6ac;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
.header .logo-container {
  display: flex;
  align-items: center;
}
.header .logo-container .logo {
  width: 200px;
}
@media (max-width: 768px) {
  .header .logo-container .logo {
    width: 130px;
  }
}
.header .logo-container .header-name {
  font-size: 45px;
  color: #2ea6ac;
}
@media (max-width: 768px) {
  .header .logo-container .header-name {
    font-size: 35px;
  }
}
.header .header-links {
  display: flex;
  gap: 10px;
}
.header .account {
  color: #2ea6ac;
  font-size: 25px;
  padding: 10px;
}

.news-list .news-card {
  border-radius: 30px;
  margin: 15px;
  box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.2);
}
.news-list .news-card .news-img {
  border-radius: 30px 30px 0px 0px;
  height: auto;
  width: 100%;
}
.news-list .news-card .news-text {
  padding: 100px;
}

.news-open-img {
  height: auto;
  width: 100%;
}

.accordion {
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.2);
  margin-bottom: 10px;
}
.accordion .item-content, .accordion .item-title {
  padding: 10px;
}
.accordion .item-title {
  color: rgb(32, 58, 151);
  border: 1px solid rgb(79, 113, 102);
  background-color: rgb(159, 199, 186);
  cursor: pointer;
}
.accordion .item-content {
  color: rgb(23, 77, 128);
  border: 1px solid grey;
  background-color: rgb(213, 234, 227);
  display: none;
}
.accordion .item-content.active {
  display: block;
}

.tabs {
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.2);
}
.tabs .tabs-header {
  padding: 10px;
  border: 1px solid rgb(79, 113, 102);
  background-color: rgb(159, 199, 186);
}
.tabs .tabs-header button {
  background-color: rgb(213, 234, 227);
  cursor: pointer;
}
.tabs .tabs-header button:hover {
  background-color: rgb(160, 181, 174);
}
.tabs .tabs-body {
  color: rgb(36, 60, 131);
  border: 1px solid rgb(79, 113, 102);
  background-color: rgb(213, 234, 227);
  padding: 10px;
}
.tabs .tabs-body div {
  display: none;
}
.tabs .tabs-body #tab1 {
  display: contents;
}

/*# sourceMappingURL=style.css.map */
